language: java
dist: trusty
jdk:
  - oraclejdk8

sudo: false
install: true

notifications:
  email: false

branches:
  only:
  - master
  - development

deploy:
  - provider: script
    script: bash scripts/deploy.sh
    on:
      branch: master
  - provider: script
    script: bash scripts/deploy-snapshot.sh
    on:
      branch: development

env:
  global:
    - "NdD/xIVtdNirVEEXxZzg0wtHMwNqY6LbedFkvhjAOAD7++o8D9gp3iE9PGUVAFuBGFjcHlWU10Lrq3/tz3nkF7H/sdWdEWhxpHQmov7rW+V0ew9ny8KZlYHwz51rGlnelc/uZdyA8HnV7GJ0a8jR6Oq7qIpB8xIIy2Xd/PIJ+x1j2aw5SPsAXlbFSER8iuAY5G23U/LMfoNe7xcob9AI3WM/O/2P2DHD0/dPzBglBvXYvcrYtFHgkY78eXFcC3yvnXJxd9O8SGTkJ5QQVvdf2q+tY9+PhoPGHN/Yy8KzR0LFZH2jXDf5dwxDTW+bP/xdQ+nuY/RKAZLuigFiM2aaIMIksrxcbCB0EyYaleyUuKpr6VV04xKoltvAyH8N1d4p3NbltMQwdsLgGLTimnhhsilksBbOw0jgRvZB7goAhkXaU8jHHZKsRvZ71gdOGZ5c6F0U+sFz8m9EDIDaGN4G8kbEXrBScz2Dw6faT7QBmlp6fW1J4cVC+TOISCxMR2YXeD1XK7FA3T+WDUj+Jvyfv2p8+ZASzrDrRQbsBAMCoWi+KEVJkDNwglLvtyI3kr8gKu5AmiUthsZ6dV5gXZgdS+S4DvCmnJLv624Ee2zrsYbpzpsRZaRKevsL+bJdzfQlt5hd1qpqDwt4xnRpGCSIJ6f/Cikr5t8GSSDRTnv8k6A="
    # ^^ SONAR_TOKEN
    - "TEyI0SoELU4pwsBqys05S0xwaqB+MiToAcZFBak5+TgLGu/hfkfRmV/+EQvSwu/adztsiNOkSve+l3jhvbz7b3uXeGg+qI8Xn5sMgUfxy6dVsEMSbQXInnyplVcZAe4gmFoOhizp4wfyhX0E/DLCDgdldH1oU14HgS2qAkeONNHcuo+uekDw907VPjqnGPv4PWgupMDtFnX2gD+DuZMYrlrcoESAcGC0SNJqmuRgiqoHzNeAvRCtPbOK2KpeHOxLPzwoOotlBtPBcRBUvV0IK76ZfwKXVA2/awY25AL6y0WFROgSr8pZfCn4Z2JxnJ6qh2uI//DxJOnuyXlJSGRXoiRd5Dd15d0AjekTxC7A2v08I0U90m26+w8o1WH/AxpQux1reQi+sqHhWT9FS+PaZUxKZR14max5eTu14KeHs/3sTbazCbxA7xREt0dAKtlRQGf2yUT/LcwPxDQYo9oADMnCWDhixH7OmyqHeFQoRGtrldQywbHk4y3iIAf87XC/rGGkIwF1lnwRymA+7nU8RGEDN1OpzEsJPkbYLrDofzTJC7Jlr4BjIXqx8iucR1W37333XGAJcjY44Zvp0I4hrvxehR1iU43x6dE/z+HlnDTi2ig4pLJvtDA8VZHhczR8EHkr+75OfpcwFiqK/T94QH8u7RPw6cmfJG7D1AbWQfY="
    # ^^ GITHUB_USERNAME
    - "WYFh4kxB4l64u0tjaKn1dQfDIwXOK55k0hIAFE8eHtUUxyq4jWBbWNoUuvUak72DLn9KL9/VUpnBR0XCo2v8nlpRKVgbEI6p0Yiycjs0CJVECznvhfZWqHyRLyP9sgw0+yMPySIuoWygErSXU/VJYFyj6UCxpBuMe2mtmhmC54s1XHMm6IcwajdC/eoARUAbmBAWX0fgPO6J03FHJ4ZjDSphsOcRR5vyvNGInc2002QH8p/HI3UCUeCOPfUePJ5WjXH+TuizEpc80bR1SDBJxeV8Jzc/I4Zfx6H6vN3kL1ZRTg72NRrLjdojBBjNsqAfrS1XWDvJ3RLy9fKEGJ/5xikppphxYwEVUE+OvFms5Me9LB+OGWXUzcjfdIh8ndybvudTb/7+VJc4QnEjgwgwnNZGttSV5FiwP43LY6cN2xn4w+KZ2lSUyMlLwVobfzITQioR46rRz7W2yhf58fUz+1yz+j0xqPYPpBT9arqUZp9NLHUFf8df4R45woYDphANO96DdMDvuYm75EThIzgfgAA8o+BibHn67wg42NJ23Eqs8JKewz0YATyQRXDPqc2Gw41rsNKX4AkTJ7hac+652dHOAAXiNN+79PrKRq08dnSqhFF110mh5BAVbb9wUjDBb1Mk/G6d8Z47sg+d7tBalsd3zlcBpNSYa7akkAb99pY="
    # ^^ GITHUB_ACCESS_TOKEN
    - "Js4NkaZC9qeIwpBMUH/FQyfsehk05hhmzpElGTayeuL6FCfGRmX/JtaQ2dl9QfVjZRnOZw2w6HQO2lJ9ltNgelSl4NMlVVz5StyVHspELZ5WO/oNtXXz4qLMAEUGGFfOmy9owjNdH4IPj5Nduh7/fv1wMvogU/tUVsO+nNKaTZqoK66UrmQCSXndZXflD1qbkEAbUiVF4f3N+otJAtlNXFoSRpvNgX00dl6afzTtALzartz0g6HsQ+tfzSarl76ERTJCb/1+5hgE8GT+nIghYv7UNV/e+uAwoDi7EcvctLLT5P8qiJ2FIMviki09dH/aY//cv2ZmJVH5vAWPgk4FZJItSuyhZGuhlb0B6lGU7aGnTU/Or9ALYIlBfn48p21k2j/p/e4w1GCEI/sjAqBBsXhlJxFECJ2tOaXZ/xmAYKr9toJlHm9DUGJagaJYrRV9vYPkLer+NSxSOoKk/rUEArJd/N5fV5mmYXMvm5xLIXNKM9S+qyylcnVR6qGI8HSIwnAlssijMwgMKs91QRClhKNYna/dZLCPfMF9h/8tUzvcrFwqDZDTdsU/2LVY57AcWUGdaVLqQ8dyMZgOtpyfZDfUwe9iXezZrNNzDtF4qkEK/4L2slDLRKFWzHLYW0A+8EssTJTX0Kdaj/GybOQWDtbIpT4ktRQGa0MESl3x7+o="
    # ^^ OSSRH_JIRA_USERNAME
    - "rNiRZlLR0g9pArSVEqXDUYjBfwvEl4G9pYpp+xcqSNwiAiCbAD+gbcy2ZjZilOMH2e/YQTSefSTGagwh0DfsZ++7zVlUBWdGy3dULpJnwWH8GhM7HC9/cAj1Q2jxf4IZaZZN8WfPkEgxMRJPjDniLwmiECZ1F3WfGd2IwIXtmUE6OOphEy5hfc9C6Z1xcwzPrFd30Dn5zl+GmIN/WL0P/DsPZJGHZE0Cdn+9jm48TxHbhaNN6WkF/Er/ge1aSBAYWJH3KInRrVkHve2GJhq7XgqiAkkDvFg+lqaol0hWDCbZ7nPioXGELh5uOzZc2oQvuCymWXInJX1Fr05/xz5g5Vo9L+cJv0X2ESSbvG+g6ybsrVpkNcCfEazmrBHNZwdclmFxhK+XpzHKjEMrirLXDjXPiky6JPDQVKNOJa4AlXvc4uEamc9zYSwXXQJbVK4MTUxeLZy1Pwq0+s7v+yA0qU2NDaGzDOtCHbYyWaVinxLRAQSzbnM8Z3pR2Ki0zH1Pjpw8Kc+w0WH+rpYfFTHEoYkDCvFJAf9CeQ0NnGhTdccNp9nAPix3YfqlPlQsZpHVuvyxmqSpch5NxAfVTg5Z10bVuIHpgdyCLG/sTNrjVSLdEMRomAm7klSnkitD2uKUC6SiiTGVGTJpCOTHPuu9dRcPi49HSeMt69cmqGIrcsk="
    # ^^ OSSRH_JIRA_PASSWORD
    - "jptT/Uwxas56Inkk9OgJYDqXuvZyqVxFteBitRLYuD0MWrhkvs3oM84jHHEHfN7UjMkiIHnfCAQogmxTaJRGk30PND3IgWs68WibvrdFYTYVyoKvYkYaX+ztt3f4E4pzZHV0Xj+mzLD1Bv67vNViJlhMHRTzD4MAzGj1kGsBT85NIBF5bk6IQGM76B8CmXTcerz91Uwp6R2fxmnBqbYDGxCudTWVWfCyiyH3ApQt7VE/FItHR1FrPQeuBYMyv+ulTXXJdptt4QOA+le4fOGCPtd7NUCPyqpONouQWWG4AQcsRnceSCr/tsHtHtPyANKyS6t2dMHKsvMVDpxfh/64ykKlZNHLGsx1C1aONbuU01fX4E2jKcu/X0eBYLBck+fM6L/7815z+8ZSo/b3u4Ly/shbCfDODE+Q1Kq055UCG0ze3SYwy5fMcNwW0TGtjHJam8MkgN8pV8prLONjfmIZbRimQGx/sIirPAd6VQ6D2RJAz4Fs+bj3SYpC1HpImpzFBa/ScRVRwdKyInjWzEzCT/L3yii08agiSKpmAFsTLuUzMj+hc0aaHuueYOuZ7xNLPxtWxqo1v0JF802l7YitmsFuWDhxIN/3GtVpaIlN5ypoXmG1Wp1G1aA5lS/Vnq+cM1rHKotEB9b47el7DmPEG2daERjQcLyHpALhGDaa75w="
    # ^^ GPG_KEY_NAME
    - "BQTqIdesk0ZadjsRTNdo8X7zShacu63kFJV85lkOmEeT1SUVNWog4rE5NngGEmYGKFlN4ijznm01wNBMJ6ynBMDeSFmX4wnQeTcwzEVwBz+GZcJlkRoANRiyZTRnv7L1zmt8+tqhdh7p/nO8HVHlgxLg4WVTXGxaZsfasN8tGEz8kE3JdhkSt4ibIYx6Qjmxlr6XaMS1mVRp6GxQbQIi/QoQdhxce477qmr2aduGI4tkywAAkuad5nez4EVmkI/4y78otZU7n1s1RPDdBQrteBGG3dzlyBY9iW90O43d8cZShjhe1zWtjFgTE3mgBerM82jFu2e8VToqNb0PDIdleIq+G40icLUkcMJ9gD0KuxOWUpnBOx8/GE37/HqaQR5TwarsweO2RhFVssTCO62X9bR+UWYhDCwQuTM3lvqfccJ1Uzo9u5fb35zgAUK02y/vwutZ8zwn/apmihf8lK2BQo7LXJtPKuYB3HtL8xqFufEQ3EiYLWjPPWr3LnqYitmchH2Fr7QDM4KroMPYzMvCC5Ojk0jZBpvB7zX/e42c/YP20GUCJNFLeZyeKKUR7RsoqORacHvUdIMW5lKs20Bqb4Cq5bdDmnaWtfZHtjn+0Ee80CcXPs0G7boXyuErT0NW84ov8qJ+/Uo5tfG4Mf5LdfS82O4h9QsbzVAmVBud9Dg="
    # ^^ GPG_PASSPHRASE

addons:
  sonarcloud:
    organization: "tbmelabs-github"
    token:
      secure: ${SONAR_TOKEN}

before_script:
  - git clone https://${GITHUB_USERNAME}:${GITHUB_ACCESS_TOKEN}@github.com/mirioeggmann/tbmelabs-deploy-certificates.git
  - gpg --fast-import tbmelabs-deploy-certificates/tbmelabs-deploy-key.asc
  - cp .travis.settings.xml $HOME/.m2/settings.xml

script:
  # - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
  - mvn clean verify

after_script:
  - rm -rf tbmelabs-deploy-certificates

cache:
  directories:
    - "$HOME/.cache"
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
